@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px;
}

.image-container img {
  width: 100%;
}

/* Media Query: Tablet or PC */
/* medium and large screen size */
@media (min-width: 601px) {
  .image-container {
    margin: 10px 10%;
  }
  .image-container img {
    margin-top: 5px;
  }
  h1 {
    font-size: 2.5rem;
  }
}

/* large screen size */
@media (min-width: 993px) {
  .image-container {
    margin: 10px 25%;
  }
  h1 {
    font-size: 3rem;
  }
}
